/*Variables*/
:root{
    /*cabecera*/
    --header-size: 3rem;
    --navbar-background-color: #075255;
    --links-color: blanchedalmond;
    --links-hover-color: burlywood;
    --links-active-color: rgb(226, 145, 40);
    --link-background-color: rgb(43, 10, 10);
    /*main*/
    --primary-color: bisque;
    --secundary-color: burlywood;
    --title-color: chocolate;
    --subtitle-primary-color: rgb(255, 201, 6);
    --subtitle-secundary-color: rgb(115, 100, 76);
    --main-border-set: 0.3px solid #ccc;
    --font: 2rem;
    --back-color: black;
    --p-margin-top: 1rem;
    /*Codigo*/
    --code-font-family: Lucida Console,
        "Courier New",
        monospace;
    --code-color: rgb(5, 255, 5);
    --code-background-color: rgb(9, 9, 52);
    /*Footer*/
    --footer-background-color: rgb(22, 2, 41);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--back-color);
    font-family: serif;
}

/*Contenido de la cabecera*/

.logo-img {
    width: 60px;
    height: 60px;
}

.logo-txt {
    width: auto;
    height: 60px;
}

#cabecera {
    background-color: var(--back-color);
    text-align: center;
    position: sticky;
    top: 0px;
}

#cabecera figure {
    display: inline-block;
}


.main-nav {
    font-size: large;
    font-family: Horror-Sketch;
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    border-radius: 10px;
    background-color: var(--navbar-background-color);
    text-align: center;
}

.main-nav__item {
    display: inline-block;
}

a {
    color: var(--links-color)
}


.main-nav__item a {
    font-size: var(--header-size);
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
    background-color: var(--link-background-color);
}

a:hover {
    color: var(--links-hover-color);
}

a:active {
    color: var(--links-active-color);
}

a::before {
    content: "/";
}

a::after {
    content: "/";
}

/*Estilos del Main*/
.main-container {
    color: var(--primary-color);
    border-left: var(--main-border-set);
    margin-left: 15px;
    width: 80%;
    height: fit-content;
    margin: 1px 10%;
    padding-left: 15px;
}

.main-container p{
    font-size: var(--font);
    margin-top: var(--p-margin-top);
}

h1 {
    margin-top: 20px;
    color: var(--title-color);
}

h2 {
    margin: 10px;
    color: var(--subtitle-primary-color);
}

h3 {
    margin-top: 10px;
    color: var(--subtitle-secundary-color);
}

.section-codigo{
    font-size: 0.8rem;
    padding: 1rem;
    margin-top: var(--p-margin-top);
    background-color: var(--code-background-color);
    color: var(--code-color);
    font-family: var(--code-font-family);
}